<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <add name="StockEntities" connectionString="metadata=res://*/StockModel.csdl|res://*/StockModel.ssdl|res://*/StockModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=localhost;initial catalog=Stock;User ID=StockUser;Password=password;multipleactiveresultsets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
</configuration>